<!DOCTYPE html>
<html>
  <head>
  		<meta charset="utf-8">
		<meta content="width=device-width, minimum-scale=1, maximum-scale=1" name="viewport">
		<title><%= data.page.title || "Trivia Mobile" %></title>
		<%= stylesheet_link_tag "jquery.mobile.min" %>
		<%= stylesheet_link_tag "azul_verde_web", :media => "screen and (min-device-width: 1600px)" %>
		<%= stylesheet_link_tag "azul_verde", :media => "screen and (max-device-width: 1000px)" %>    	
    	<%= javascript_include_tag "jquery-1.7.1.min", "jquery.mobile.min" , "jquery.tmpl", "cookie.jquery", "check","json2", "config" %>
		<%= partial "templates" %>
  </head>
  
  <body>
		<%= yield %>
  </body>
</html>